.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 18.5rem;
  padding: .7rem;
}

.sidebar .logo {
  background-color: #12121200;
  display: flex;
  border-radius: 8px;
  padding: 1rem 0 0 1rem;
}

.sidebar .logo img {
  width: 5rem;
}

.sidebar__navigation {
  background-color: #121212a4;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar nav ul {
  list-style: none;
  margin-top: 1.2rem;
  padding: 0 1.2rem .62rem 1.2rem;
}

.sidebar nav ul li {
  padding: .62rem 0;
}

.sidebar nav ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: .87em;
}

.sidebar nav ul li .fa {
  font-size: 1.2em;
  margin-right: .62rem;
  font-weight: 300;
}

.sidebar nav ul li a:hover {
  color: #ffffff;
}

.library {
  background-color: #121212a4;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  min-block-size: 2.5rem;
  padding: .2rem .5rem;
  color: #b3b3b3;
  font-weight: 600;
  font-size: .87em;
  margin-top: .62rem;
  flex-direction: column;
}

.library .library__button {
  margin-right: .62rem;
  color: #b3b3b3;
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  padding: 1.2rem .62rem;
  display: flex;
}

.library .library__button .fa {
  font-size: 1.2em;
  margin-right: .62rem;
  font-weight: 300;
  padding-right: .5rem;
}

.library__content {
  display: flex;
  justify-content: space-between;
}

.library .library__content .fa-plus {
 margin: 1.5rem .62rem;
}

.section-playlist {
  background-color: #242424;
  align-items: flex-start;
  border-radius: 8px;
  gap: 1.2rem;
  display: flex;
  justify-content: space-between;
  min-block-size: 2.5rem;
  color: #b3b3b3;
  font-weight: 600;
  font-size: .87em;
  margin: .5rem 0;
  padding: 1rem 1.2rem;
}

.section-playlist .section-playlist__content {
  display: flex;
  flex-direction: column;
}

.section-playlist__content .text {
 padding-bottom: .87rem;
 color: #fff;
}

.section-playlist__content .title {
 font-weight: 700;
}

.section-playlist__content .subtitle {
  font-weight: 500;
  font-size: .8em;
}

.section-playlist__content .section-playlist__button {
  background-color: #ffffff;
  color: #000;
  border-radius: 9999px;
  display: flex;
  font-size: .8em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-transform: none;
  padding: .62rem;
  border: 0;
  width: 7rem;
  justify-content: center;
  margin-top: .7rem;
}

.sidebar .cookies {
  margin: 1.5rem 1.2rem;
}

.sidebar .cookies a {
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: .7em;
}

.sidebar .cookies a:hover {
  text-decoration: underline;
}

.languages .languages__button {
  background-color: transparent;
  border-radius: 9999px;
  border: 1px solid #878787;
  color: #fff;
  cursor: pointer;
  align-items: center;
  padding: .8rem;
  width: 13rem;
  margin: .5rem;
  font-weight: bold;
}

.disclaimer-premium {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right,#0c0c0c 48%, #5c040c);
  padding: .9rem 2.5rem;
  display: flex;
  justify-content: space-between;
}
.disclaimer-premium .text {
 flex-shrink: 0;
}
.disclaimer-premium .disclaimer-premium__title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: .7em;
  margin-bottom: .62rem;
}

.disclaimer-premium .disclaimer-premium__subtitle {
  color: #ffffff;
  font-size: .8em;
  font-weight: 500;
}

.disclaimer-premium button {
  background-color: #ffffff;
  color: #000000;
  font-size: .9rem;
  font-weight: bold;
  padding: .8rem 1.8rem;
  border: 0;
  border-radius: 2.5rem;
  cursor: pointer;
  flex-shrink: 0;
}

#artistList {
  display: none;
}