body{
  background-color: #000;
  color: #fff;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: .750rem;
  width: 300px;
}

.sidebarNavigation{
  background-color: #121212;
  border-radius: 8px;
  padding: 1rem 0 0 1rem;
}

.sidebarNavigation .logo{
  background: #121212;
  display: flex;
  border-radius: 8px;
  padding: 1rem 0 0 1rem;
}

.logo img{
  width: 80px;
}

.sidebar nav ul{
  margin-top: 1.25rem;
  padding: 0 1.25rem .625rem 1.25rem;
}

.sidebar nav li {
  padding: .875rem 0;
}

.sidebar nav ul li a{
  color: #b3b3b3;
  font-weight: 600;
  font-size: .875em;
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
}

.library{
  background-color: #121212;
  color: #b3b3b3;
  padding: .75rem 1rem .5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: .5rem;
  margin-top: .63rem;
}

.libraryContent{
  display: flex;
  justify-content: space-between;
}

.libraryButton{
  display: flex;
  justify-content: flex-start;
  padding: 1.25rem .5rem;
  margin-right: .63rem;
  background-color: transparent;
  border: none;
  color: #b3b3b3;
  font-weight: 700;
  font-size: .875em;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  height: 2.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}

.libraryButton .fa{
  font-size: 1.25em;
  font-weight: 300;
  color: #b3b3b3;
  margin-right: .62rem;
  padding-right: .5rem;
}

.libraryContent .fa-plus{
  margin: 1.3rem .62rem;
}